*.iws
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride
*.tfstate*
terraform/.terraform/*
terraform/*/.terraform/*
terraform/.credstash/*.tfvars.json
/.gradle/
gradle/gradle-wrapper.jar
*.ipr
*.iml
.idea/
.idea_modules/
build/
out/
*node_modules*
*.class
*.log
*.jar
*.war
*.zip
*.tar.gz
